
 .issue-table h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.issue-table table {
    margin-left:20%;
}

.pushed table {
    margin-left:20%;
}

.pushed h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-250);
}


